* {
	font-family: Kohinoor Devanagari;
	text-align: center;
}
h1 {
	font-family: Kohinoor Devanagari;
	font-weight: bold;
	font-size: 50px;
}
h2 {
	font-family: Kohinoor Devanagari;
	font-size: 20px;
}
body {
    padding: 10px;
}
ul {
	padding: 10px;
	font-size: 16px;
}
ul li {
	display: inline;
	padding: 0 10px 0 10px;
}
.text {
	margin: auto;
	font-size: 16px;
	padding-left: 100px;
	padding-right: 100px;
	background: #004d4d;
	color: white;
	height: 250px;
}
.img-circle {
	border-radius: 50%;
	width: 300px;
}
.namebio {
	font-size: 16px;
}
footer #footer_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    background-color: #827f80;
    text-align: center;
}

footer #footer_navi {
    background-color: #f0f0f0;
    padding: 10px 0;
}

footer #footer_navi li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_navi li:last-child {
    border-right: solid 1px #333;
    padding: 0 8px;
}

footer small {
    display: inline-block;
    padding: 8px 0;
    color: #fff;
}