
body {
    margin: 10;
    padding:10;
    color:#333;
    font-size: 14px;
}

a {
    color: #333;
}

a:visited {
    color: #333;
}
a:hover {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

footer #footer_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    background-color: #827f80;
    text-align: center;
}

footer #footer_navi {
    background-color: #f0f0f0;
    padding: 10px 0;
    height: 10px;
}

footer #footer_navi li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_navi li:last-child {
    border-right: solid 1px #333;
    padding: 0 8px;
}

footer small {
    display: inline-block;
    padding: 8px 0;
    color: #fff;
}